{% extends "reporter/_layout" %}

{% block content %}
	{% if reports | length == 0 %}
		<div class="tw-py-5 tw-text-center tw-max-w-2xl tw-mx-auto">
			<svg xmlns="http://www.w3.org/2000/svg" class="tw-mx-auto tw-h-24 tw-w-24 tw-text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" /></svg>

			<h2>No reports exist...yet!</h2>
			<p>
				You currently do not have any reports to export. To setup your first report you'll need to configure a <code>config/reporter.php</code> document and setup the options outlined in <a href="https://github.com/trendyminds/craft-reporter#readme">the documentation</a>.
			</p>
		</div>
	{% endif %}

	{% if reports | length > 0 %}
		<div class="tableview tablepane">
			<table class="data fullwidth">
				<thead>
					<tr>
						<th>Report Name</th>
						<th>Description</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for report in reports %}
						<tr>
							<td>{{ report.name }}</td>
							<td>{{ report.description }}</td>
							<td>
								<form method="post">
									{{ csrfInput() }}
									{{ actionInput('reporter/default/run') }}
									{{ hiddenInput('report', report.handle) }}
									<button class="btn submit" type="submit">
										Run Report
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
{% endblock %}
